body{
    margin: 0;
}
header{
    background-color: #216abb;
    height: 20vh;
}
main{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    height:50vh;

}
header, section, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    background-color: #16457a;
    width: 32vw;
}
span{
    color: #77abbe;
    font-size: 3.5vw;
    font-family: 'Open Sans', sans-serif;
}
footer{
    background-color: #216abb;
    height: 25vh;
}
