section{
    height: 40vh;
    margin-left: 3vw;
    font-family: 'Roboto', sans-serif;
}
.table{
    display: flex;
}
.card{
    background-color: #e3e3e3;
    margin-right: 1vw;
    padding: 1vw;
    font-size: 9vw;
    transition: transform 1s linear;
}
.card:hover{
    transform: rotate3d(1.5, 1, 1, 90deg);
}
p{
    font-size: 3vw;
}
.red{
    color: red;
}