*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
.wrapper, header, .tab_panel, .financial_block, .news,
.legal_entities_block{
    background-color: #F8F8F8;
}
header, .tab_panel, .section_services-block,
.international_business_block, .financial_block,
.find_index_block, .news, .legal_entities_block,
.online_service, footer{
    padding-left: 9.375vw;
    padding-right: 9.375vw;
}
header{
    height: 10.42vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
nav{
    display: flex;
    width: 4.17vw;
}
p{
    font-family: 'Open Sans', sans-serif;
    color: #0E2F4B;
    font-size: 16px;
    margin-bottom: 1vw;

}
h2{ font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 2vw;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.6);
}
nav>a{
    text-decoration: none;
    color: #99A2AA;
    font-size: 16px;
    margin-right: 2vw;
}
.tab_panel{
    background-color: #fec524;
    height: 31.25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.tab_panel>div{
    width: 38vw;
}
.tab_panel>div>h2{
    color: #FFF;
    font-size: 44px;
}
input{
    width: 40%;
    height: 5vw;
    border: none;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
    padding-left: 2vw;
}
input::placeholder{
    color: #757575;
    font-size: 16px;
    letter-spacing: 0.5px;
}
input:focus::placeholder {
    color: transparent;
}
input:focus{
    outline: none;
}
.section_services-block{
    position: relative;
    height: 55.56vw; /*800px*/
}
.grid{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'gr_1 gr_2 gr_5'
    'gr_1 gr_3 gr_6'
    'gr_1 gr_4 gr_7';
    gap: 1.5vw;
    padding-top: 7vw;
}
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6,
.grid_7, .card_financial_1, .card_financial_2,
.card_financial_3{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.grid_1{
    grid-area: gr_1;
}
.grid_2 {
    grid-area: gr_2;
    background-image: url('https://images.unsplash.com/photo-1540457943340-2e70b692e50e?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8eWVsbG93JTIwYmx1ZXxlbnwwfHwwfHx8MA%3D%3D');
}
.grid_3{
    grid-area: gr_3;
    background-image: url('https://plus.unsplash.com/premium_photo-1681488350342-19084ba8e224?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHNob3BwaW5nJTIwaW50ZXJuZXR8ZW58MHx8MHx8fDA%3D');
}
.grid_4{
    grid-area: gr_4;
    background-image: url('https://plus.unsplash.com/premium_photo-1670226145696-56d31c4d4416?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHRoZSUyMHdvcmxkfGVufDB8fDB8fHww');
}
.grid_5{
    grid-area: gr_5;
    background-image: url('https://images.unsplash.com/photo-1468779036391-52341f60b55d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGRvY3VtZW50c3xlbnwwfHwwfHx8MA%3D%3D');
}
.grid_6{
    grid-area: gr_6;
    background-image: url('https://images.unsplash.com/photo-1587854692152-cbe660dbde88?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWVkaWNpbmV8ZW58MHx8MHx8fDA%3D');
 }
.grid_7{
    grid-area: gr_7;
    background-image: url('https://images.unsplash.com/photo-1587027066597-e9b5dea8cbf2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDY1fHxjb21lJTIwdG8lMjB1a3JhaW5lfGVufDB8fDB8fHww');
}
.services-buttons{
    display: flex;
    position: absolute;
    top: -3vw;
    height: 6vh;
    color: #99A2AA;
    font-size: 16px;
    font-weight: 700;
}
.services-buttons>div>div>img{
    margin-right: 0.5vw;
}
.services-buttons>div {
    margin-right: 1.5vw;
    width: 18.75vw;
    height: 5.56vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 3px 35px 0 rgba(95, 98, 102, 0.17);
}
.card{
    border: 1px solid;
    border-radius: 10px;
    padding: 2vw;
    height: 10vw;
    text-shadow: 4px 4px 2px rgba(255,255,255,0.6);
    box-shadow: 10px 10px 5px 0px rgba(14,47,75,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(14,47,75,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(14,47,75,0.75);

}
.card a, .fin_text a{
    text-decoration: none;
    font-weight: 700;
    color: #0E2F4B;
}
.card>h3>a {
    font-size: 24px;
}
.white a{
    color: white;
    text-shadow: 4px 4px 2px #0E2F4B;
}
.card>span>a{
    font-size: 14px;
}
.international_business_block, .find_index_block{
    height: 45.83vw;
    background-color: #042c4b;
    display: flex;
    align-items: center;

}
.blue_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 48.61vw;
    height: 27.08vw;
}
.blue_box>h2{
    color: #F8F8F8;
}
.blue_box>p{
    color: #99A2AA;
    font-size: 16px;
}
.international_business_block>div>div, .index_buttons>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21.18vw;
    height: 5vw;
    border-radius: 10px;
    background: #FDC13D;
}
.international_business_block a, .index_buttons a{
    text-decoration: none;
    color: #0E2F4B;
    font-size: 20px;
    font-weight: 700;
}
.international_business_block h2, .find_index_block h2, .online_service h2{
    text-shadow: 4px 4px 2px cornflowerblue;
}
.financial_block{
    height: 55.56vw;
    padding-top: 6vw;
}
.fin_text{
    width: 76.25vw;
    height: 15.28vw;
    background-color: #fdc13d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 6vw;
    padding-left: 5vw;
}
.fin_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fin_cards>div{
    margin-right: 1vw;
    width: 18vw;
}
.card_financial_1 {
    background-image: url('https://images.unsplash.com/photo-1616077167555-51f6bc516dfa?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c2VuZCUyMG1vbmV5fGVufDB8fDB8fHww');
}
.card_financial_2 {
    background-image: url('https://images.unsplash.com/photo-1591033594798-33227a05780d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTh8fHNlbmQlMjBtb25leXxlbnwwfHwwfHx8MA%3D%3D');
}
.card_financial_3 {
    background-image: url('https://images.unsplash.com/photo-1560520031-3a4dc4e9de0c?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjR8fGluc3VyYW5jZXxlbnwwfHwwfHx8MA%3D%3D');
}
.index_buttons>div{
    width: 75vw;
    display: flex;
    align-items: center;
}
.index_buttons>div>input{
    margin-right: 2vw;
}
.img_date_article{
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
}
.img_date_article>div{
    width: 23.20vw;
    margin-left: 1vw;
}
.img_date_article span{
    color: #99A2AA;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.news, .legal_entities_block{
    margin-top: 4vw;
}
.news .card{
    width: 35vw;
    height: 13vw;
    background-color: #fff;
    border: none;
    margin-bottom: 1vw;
}
.news_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.news .card>span>a{
    color: #0E2F4B;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.mini-card{
    display: flex;
    align-items: center;
    padding-left: 2vw;
    width: 23vw;
    height: 6.39vw;
    background-color: #fff;
    shadow: 4px 4px 2px rgba(255,255,255,0.6);
    box-shadow: 10px 10px 5px 0px rgba(14,47,75,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(14,47,75,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(14,47,75,0.75);
    color: #99A2AA;
    font-size: 20px;
    font-weight: 700;
}
.legal_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'el_1 el_2 el_3'
    'el_4 el_5 el_6';
    gap: 1.5vw;
    padding-top: 1vw;
    padding-bottom: 2vw;
}
.el_1{
    grid-area: el_1;
}
.el_2{
    grid-area: el_2;
}
.el_3{
    grid-area: el_3;
}
.el_4{
    grid-area: el_4;
}
.el_5{
    grid-area: el_5;
}
.el_6{
    grid-area: el_6;
}
.online_service{
    height: 27.72vw;
    background-color: #fdc13d;
    color: white;
    padding-top: 2vw;
}
.online_service span{
    color: #0E2F4B;
    font-size: 17px;
    font-weight: 700;
    display: block;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.online_service img{
    margin-right: 1vw;
}
footer{
    height: 42.79vw;
    background-color: #1d2023;
    padding-top: 10vw;
}
.columns{
    display: flex;
    justify-content: space-between;
}
.google_apple_logos{
    display: flex;
    align-items: center;
}
.google_apple_logos .inscription{
    color: #0E2F4B;
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    top: -1.6vw;
    left: 3.7vw;
}
.google_apple_logos>div{
    position: relative;
}
.footer_head_span{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2vw;
}
.footer_column{
    display: flex;
    flex-direction: column;
    margin-bottom: 2vw;
    width: 20%;
}
.footer_column>a{
    color: #99A2AA;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 1vw;
}
