*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
   padding: 0 4vw;
}
.section1{
    display: flex;
    flex-direction: column;
}
/*----------------------------------NAV----------------------------------*/
nav{
    height: 3.6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
menu{
    display: flex;
    justify-content: space-evenly;
}
menu div a{
    text-decoration: none;
    color: var(--Gray-1, #333);
    font-size: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}
menu div{
    margin-right: 5.5vw;
}
nav img{
    width: 45%;
}
/*------------------------------------MAIN----------------------------------*/
.section1 div {
    display: flex;
    justify-content: space-between;
}
.section1 div div{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    /*align-items: stretch;*/
}
h1{
    color: var(--Gray-4, #BDBDBD);
    font-size: 64px;
    font-weight: 300;
}
.project{
    color: var(--Gray-1, #333);
    font-size: 64px;
    font-weight: 700;
}
.section1 img{
    width: 53.47vw;
}

.section2{
    margin-top: 15vh;
    display: flex;
}
.section2 h2, .section3 h2, .section4 h2{
    color: var(--Gray-4, #BDBDBD);
    font-size: 64px;
    font-weight: 300;
    margin-bottom: 5vh;
}
.section2 p{
    color: #000;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px; /* 156.25% */
}
.section2 img{
    margin: 0 6.6vw;
}

.section3, .section4{
    margin-top: 15vh;
}
.section4 {
    margin-bottom: 15vh;
}
.container{
    display: flex;
    justify-content: space-between;
}
span{
    color: var(--Gray-6, #F2F2F2);
    font-size: 200px;
    font-weight: 900;
    margin-right: 2vw;
}
.container p{
    color: var(--Gray-1, #333);
    font-size: 22px;
    font-weight: 400;
    line-height: 36px; /* 163.636% */
}
.container div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}
.section4 div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*-------------------------------------FOOTER-------------------------*/
footer{
    background-color: black;
    display: flex;
    padding: 4vw;
}
footer a{
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;
}
footer>div{
    display: flex;
    flex-direction: column;
    padding-left: 6vw;
}


